<h1>Restaurants</h1>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <div class="border border-primary rounded m-4">
      <li class="list-group-item">name: <%= restaurant.name %></li>
      <li class="list-group-item">address: <%= restaurant.address %></li>
      <li class="list-group-item">category: <%= restaurant.category %></li>
      <div class="d-flex">
        <%= link_to  restaurant_path(restaurant) do%>
          <button type="button" class="btn btn btn-outline-info m-3">View</button>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>

<%= link_to new_restaurant_path do%>
  <button type="button" class="btn btn-primary m-3">Create Restaurant</button>
<% end %>
